* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-size: 1.6rem;
  color: #2f3035;
  background-color: #f3f3f3; }
