// Colors
$primary: #1c62cd;
$secondary: #f0f0f4;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-size: 1.6rem;
  color: #2f3035;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin flex-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin mb-desktop {
  margin-bottom: 8rem;
  @media (max-width: 600px) {
    margin-bottom: 4rem;
  }
}
