.sale {
  z-index: 100;
  &::before {
    content: 'SALE';
    padding: 8px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: 0.1em;
    background-color: $primary;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slick-dots {
  z-index: 100;
  position: absolute;
  bottom: 4rem;
  //   left: 0;
  //   right: 0;
  display: inline-block;
  text-align: center;
}

.slick-dots li {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}
.slick-active button {
  background-color: #fff;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.input {
  border: none;
  width: 100%;
  display: inline-block;
  padding: 15px 20px;
  background-color: $secondary;
  border-radius: 3px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  &::placeholder {
    color: #656464;
  }
}

.btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;

  padding: 15px 40px;

  background-color: $primary;
  border: none;
  border-radius: 3px;
}

.title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  margin-bottom: 2.5rem;
}
.card__not-available.card__not-available--active .card__price {
  display: none;
}

.card {
  position: relative;
  width: 27rem;
  height: 43.7rem;

  border: 1px solid #cdcdcd;
  border-radius: 3px;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  &:hover {
    color: $primary;
  }

  &:hover .card__hover {
    opacity: 1;
    transition: all 0.3s ease;
    color: #2f3035;
  }

  &__hover {
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 23rem;
    transform: translateX(-50%);
    padding: 18px 22px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    background-color: rgba(#fff, 0.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  &__img-wrapper {
    height: 30rem;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    position: absolute;
    top: 26.3rem;
    left: 50%;
    width: 20rem;
    transform: translateX(-50%);
    display: inline-block;
    // padding: 0 2rem;
    // margin-bottom: 3.5rem;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }

  &__price {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 3rem;
  }

  &__not-available {
    display: none;
    color: #2f3035 !important;
    position: absolute;
    bottom: 2.5rem;
    left: 50%;

    transform: translateX(-50%);

    &--active {
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;

      & span {
        display: block;
        width: 20rem;
        margin-top: 1.5rem;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-decoration: underline;
        color: $primary;
      }
    }
  }
}
.wishlist {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;

  outline: none;

  &--active {
    background-image: url(../img/heart-active.svg);
  }
}

.cart {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 40px;
  background-color: $primary !important;
  background-image: url(../img/cart-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 22px;

  border: none;
  border-radius: 10px 0px 0px 0px;
}

.card.card__not-available--active .card__price,
.card.card__not-available--active .cart {
  display: none;
}
.card.card__not-available--active .card__not-available {
  display: block;
}

.ad {
  @include mb-desktop;
  & img {
    width: 100%;
  }
}

.breadcrumbs {
  // @include mb-desktop;
  margin-bottom: 4rem;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    padding-right: 2.6rem;
    display: inbline-block;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #c4c4c4;
    position: relative;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 3px;
      right: 8px;
      width: 7px;
      height: 11px;
      background-image: url(../img/breadcrumbs.svg);
      background-repeat: no-repeat;
    }
  }
}

.pagination {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    margin-right: 3rem;
  }
}
.schedule {
  width: 100%;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    color: #969696;
    // opacity: 0.7;

    padding-bottom: 2rem;
    margin-top: 2rem;
    border-bottom: 2px solid $secondary;

    &--title {
      opacity: 1;
      font-size: 20px;
      line-height: 24px;
      color: #2f3035;
      border-bottom: none;
    }
  }
  &__day-wrapper {
    max-width: 16rem;
    display: flex;
    align-items: center;
  }

  &__day {
    margin-right: 2rem;
  }
  &__data {
    &:not(:last-child) {
      display: block;
      text-align: left;
      margin-right: auto;
      width: 15rem;
    }
    &--address {
      max-width: 30rem;
      width: 100%;
    }

    &--count {
      text-align: center;
    }
  }

  &__btn {
    background-color: $primary;
    color: #fff;
    padding: 10px 40px;
  }
}
