.popular {
  @include mb-desktop;

  &__content-item {
    display: none;
    &--active {
      display: block;
    }
  }

  &__list {
    position: relative;
  }

  &__tab {
    margin-right: 5rem;
    padding-bottom: 1rem;
    &--active {
      border-bottom: 2px solid $primary;
    }
  }

  &__tabs {
    margin-bottom: 3.5rem;
  }

  &__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;

    &--next {
      right: -10px;
    }
    &--prev {
      left: -25px;
    }
  }

  &__btn {
    display: block;
    margin: 5.2rem auto;
    padding: 17px 43px;
    font-size: 15px;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background-color: $secondary;
    border: none;
    border-radius: 3px;
    transition: all 0.3s;

    &:hover {
      background-color: $primary;
      color: #fff;
    }
  }
}
