.search {
  @include mb-desktop;

  &__tabs {
    margin-bottom: 3.7rem;
    min-width: 80rem;
  }

  &__tabs-wrapper {
    overflow: scroll;
  }

  &__tab {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    opacity: 0.2;
    margin-right: 1.5rem;
    padding: 1.1rem 2.6rem;

    &--active {
      background-color: $secondary;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      opacity: 1;
      border-radius: 5px;
    }
  }

  &__content-item {
    display: none;

    &--active {
      display: flex;
    }
  }

  &__btn {
    margin-left: -3px;
  }

  &__mob-btn {
    display: none;
  }
}

@media (max-width: 800px) {
  .search {
    &__tab {
      padding: 1.1rem 0;
      &--active {
        background-color: #fff;
        border-bottom: 2px solid $primary;
        border-radius: 0;
      }
    }

    &__content-item {
      position: relative;
    }

    &__btn {
      display: none;
    }
    &__mob-btn {
      display: block;
      width: 25px;
      height: 25px;

      position: absolute;
      top: 10px;
      right: 16px;

      background-color: transparent;
      background-image: url(../img/icons/search.svg);
      background-repeat: no-repeat;

      border: none;
    }
  }
}
